<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Contact.Id" value="0001" />
    <add key="Contact.DisplayName" value="John Smith" />
    <add key="Contact.Email" value="john@smith.com" />
    <add key="Contact.Role" value="User" />
    <add key="Contact.Telephone" value="555-555-1111" />

    <add key="B2C.PolicyKey.EncryptionKey" value="B2C_1A_dgtestb2cencryptionkey"/>
    <add key="B2C.PolicyKey.SignatureKey" value="B2C_1A_dgtestb2csignaturekey"/>

    <add key="B2C.tenantName" value="dgtestsb2ctenant.onmicrosoft.com"/>
    <add key="B2C.AccountPolicyName" value="B2C_1A_TrustFrameworkBase2"/>
    <add key="B2C.ExtensionsPolicyName" value="B2C_1A_TrustFrameworkExtensions2"/>
    <add key="B2C.ProxyIefAppId" value="f90819e3-5bf8-47d3-a3ba-ef1cdb881001"/>
    <add key="B2C.IefAppId" value="23325ef3-abd9-4b61-a181-2fcb3f091308"/>
    <add key="B2C.ExtensionsAppId" value="c25a5888-69c3-4cb4-8d8d-87dbbce4816b"/>
    <add key="B2C.ExtensionsAppObjectId" value="5befcf9a-7198-4d88-af33-e5a5b906eaa2"/>
    <add key="B2C.SignInSignUpPolicyName" value="B2C_1A_TermsOfServiceSignUpOrSignIn"/>

  </appSettings>
</configuration>